{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.2%",
            "not dead",
            "not op_mini all",
            "ie >= 11",
            "last 2 versions",
            "Firefox ESR",
            "Safari >= 9"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ]
} 